.div
{
   background-color: #24353f;
   height: 100vh;
   padding-top: 5%;
   color: #17a2b8 ; 
}
.content
{
    background-color: #24353f;
    height: 55%;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    
}
input
{
    background-color: transparent !important;
    --bs-secondary-color: #17a2b8 !important;
    box-shadow: none !important;
}
a{
    color: white !important;
}
a:hover 
{
    --bs-link-underline-opacity:1;
    text-decoration-color:white !important;
}